
<nav class="p-4 bg-white shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      
      <img
        src="/images/mlogo.png"
        alt="Reverse OJ Logo"
        class="h-10 w-30 mr-2"
      />

      <a href="/" class="text-red-600 text-2xl font-bold">Reverse OJ</a>
    </div>
    <div>
      <a href="/contests" class="text-red-600 mx-4 hover:underline">Contests</a>
      <a href="/problems" class="text-red-600 mx-4 hover:underline">Problems</a>
      <a href="/blogs" class="text-red-600 mx-4 hover:underline">Blogs</a>
      <a href="/users" class="text-red-600 mx-4 hover:underline">Users</a>
      <a href="/login" class="text-red-600 mx-4 hover:underline">Login</a>
      <a
        href="/signUp"
        class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700"
        >Sign Up</a>
      
      
    </div>
  </div>
</nav>
