<!-- views/partials/dashboard.ejs -->
<nav class="p-4 bg-white shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <!-- Logo -->
      <img
        src="/images/mlogo.png"
        alt="Reverse OJ Logo"
        class="h-10 w-30 mr-2"
      />
      <!-- Site Title -->
      <a href="/" class="text-red-600 text-2xl font-bold">Reverse OJ</a>
    </div>
    <div>
      <a href="/problems" class="text-red-600 mx-4 hover:underline">Problems</a>
      <a href="/blogs" class="text-red-600 mx-4 hover:underline">Blogs</a>
      <a href="/login" class="text-red-600 mx-4 hover:underline">Login</a>
      <a
        href="/register"
        class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
