<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex flex-col items-center justify-center min-h-screen bg-gray-100"
  >
    <h1 class="text-xl font-boldtext-center">
      আপনার একটি ভুল হয়েছে। সংশোধন করে আবার চেষ্টা করুন ।
    </h1>
    <img src="/images/cat.jpg" alt="Error Log" class="mb-4" />
    <p class="text-lg text-center"><%= message %></p>
  </body>
</html>
