<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex flex-col items-center justify-center min-h-screen bg-gray-100"
  >
    <h1 class="text-xl font-boldtext-center">
      একটি সমস্যা হয়েছে। কিছুক্ষন পরে আবার চেষ্টা করুন।
    </h1>
    <img src="/images/cat_resized.jpg" alt="Error Log" class="mb-1" />
    <p class="text-lg text-center"><%= message %></p>
  </body>
</html>W
