<!-- views/partials/footer.ejs -->
<footer class="bg-white text-red-600 mt-10 p-4">
  <div class="container mx-auto text-center">
    <p>&copy; 2024 Reverse OJ. All Rights Reserved.</p>
  </div>
</footer>
